

body {
	font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
	background-image: url('../images/wildflower.jpg');
   background-repeat: no-repeat;
	background-size:cover;
	
}


#mixtape {
background-image: url('../images/mixtape.jpg');
background-repeat: no-repeat;
	background-size:100%;
	

height: 450px;
margin-left: 200px;
margin-right: 100px;
margin-top: 75px;
width: 50%
text-align: center;
margin-bottom: 25px;
}

#songlist {

display: block;
margin-left: 300px;
margin-right:525px; 

margin-bottom: 10px;
}

#songlist h1 {
text-align: center;
font-size: 50px;
color: red;

width: 100px;
background-color: #fff;
padding: 10px;
margin-left: 25px;

}

#songlist iframe {
font-size: 25px;
display: block;
padding:50px;
text-align: center;
color:darkblue;
margin: 5px;
width: 400px;
height: 400px;
}


img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}